<div th:fragment="javascripts" xmlns:th="http://www.thymeleaf.org/" th:remove="tag">
	<script type="text/javascript" th:src="@{/resources/vendor/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/vendor/jquery-easing/jquery.easing.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/vendor/datatables/jquery.dataTables.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/sb-admin.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/main.js}"></script>
</div>